$Primary: #4B0082;
$Secondary: #FFD700;

// Primary tint
$Primary5: #EDE6F3;
$Primary10: #DBCCE6;
$Primary15: #C9B3DA;
$Primary20: #B799CD;
$Primary25: #A580C1;
$Primary30: #9366B4;
$Primary35: #814DA8;
$Primary40: #6F339B;
$Primary45: #5D1A8F;
$Primary50: #4B0082;

// Primary Shade
$Primary55: #440075;
$Primary60: #3C0068;
$Primary65: #35005B;
$Primary70: #2D004E;
$Primary75: #260041;
$Primary80: #1E0034;
$Primary85: #160027;
$Primary90: #0F001A;
$Primary95: #07000D;

// Neutral Colors
$White: #FFFFFF;
$Black: #000000;
$DarkText: #001D2D;
$DarkTextSecondary: #160027;
$LightText: #6D7F89;
$GreyText: #B1B8BD;
$Border: #B3C3CC;
$LightBorder: #CDD6DB;
$GreyBackground: #F1F4F6;

// Contextual Colors
$Danger: #E45839;
$Success: #309985;
$Warning: #E4A039;
$Info: #39A6E4;

$fontFamily: "Nunito", sans-serif !important;